{% extends "base.html" %}

{% block content %}
    <div class="content-padded">
        <center>
            <h3>Ask a question, receive only a yes or no reponse.</h3>
            <br />
            <p>Pollar is an app that lets you ask anyone a polar question. They will only be able to respond with a simple "Yes" or  "No" answer.</p>
            <br />
            <br />
        </center>
        
        <a href="#" class="btn btn-positive btn-block">Login</a>
        <a href="#" class="btn btn-primary btn-block">Signup</a>
    </div>
{% endblock %}
